name: Build Android APK

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build with Buildozer
        # Switch to digreatbrian/buildozer-action as it is more up to date and fixes permission issues
        uses: digreatbrian/buildozer-action@v2
        id: buildozer
        with:
          # Point to the directory containing buildozer.spec
          work-dir: .
          python-version: 3.10.6

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
